@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=c69df2d9-bca3-42ae-b0a7-9d789edf3b68&fontids=721263");
@font-face{
  font-family:"Compagnon-Bold";
  src:url("assets/Compagnon-Bold.eot?#iefix");
  src:url("assets/Compagnon-Bold.eot?#iefix") format("eot"),
      url("assets/Compagnon-Bold.woff2") format("woff2"),
      url("assets/Compagnon-Bold.woff") format("woff");
}
@font-face{
  font-family:"Compagnon-Italic";
  src:url("assets/Compagnon-Italic.eot?#iefix");
  src:url("assets/Compagnon-Italic.eot?#iefix") format("eot"),
      url("assets/Compagnon-Italic.woff2") format("woff2"),
      url("assets/Compagnon-Italic.woff") format("woff");
}
@font-face{
  font-family:"Compagnon-Light";
  src:url("assets/Compagnon-Light.eot?#iefix");
  src:url("assets/Compagnon-Light.eot?#iefix") format("eot"),
      url("assets/Compagnon-Light.woff2") format("woff2"),
      url("assets/Compagnon-Light.woff") format("woff");
}
@font-face{
  font-family:"Compagnon-Medium";
  src:url("assets/Compagnon-Medium.eot?#iefix");
  src:url("assets/Compagnon-Medium.eot?#iefix") format("eot"),
      url("assets/Compagnon-Medium.woff2") format("woff2"),
      url("assets/Compagnon-Medium.woff") format("woff");
}
@font-face{
  font-family:"Compagnon-Roman";
  src:url("assets/Compagnon-Roman.eot?#iefix");
  src:url("assets/Compagnon-Roman.eot?#iefix") format("eot"),
      url("assets/Compagnon-Roman.woff2") format("woff2"),
      url("assets/Compagnon-Roman.woff") format("woff");
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  /*color: #2a2a2a;*/
}
body.hidden {
  display: none;
}
body.bold {
  font-family: Compagnon-Bold;
}
body.italic {
  font-family: Compagnon-Italic;
}
body.light {
  font-family: Compagnon-Light;
}
body.medium {
  font-family: Compagnon-Medium;
}
body.roman {
  font-family: Compagnon-Roman;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html {
  font-size: 1rem;
  height: 100%;
}

body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

body li {
  margin: .5em 0;
}

#contact {
  margin-top: 1em;
}

#main {
  text-align: center;
  padding: 2rem 2rem 5rem;
}

@media screen and (min-width: 1000px) {
  html {font-size: 1rem;}

}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

@media (hover: hover) {
  a:hover::after {
    content: '';
    display: block;
    height: .05rem;
    background: #2a2a2a;
    width: 100%;
    position: absolute;
    top: 1.5em;
  }
}

#credit {
  position: fixed;
  left: 1em;
  bottom: 1em;
}

small {
  font-size: .7em;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .05em;
}


h2, h3, h4, h5 {font-size: 1.25em;}

.dot {
  display: inline-block;
  margin: 0 8px;
}

small, .text_small {font-size: 0.8em;}